.small-img {
    max-height: 600px;
}

.threedmodel {
    height: 650px;
    width: 700px;
    --progress-bar-color: transparent;
    animation: blooping 3s ease infinite;
}

@keyframes blooping {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(0px, 30px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.about-logos svg {
    height: 30px;
    width: 30px;
    fill: var(--off-white);
    margin: auto;
    margin-bottom: 5px;
    cursor: pointer;
}

.filling-bar {
    margin: auto;
    height: 100%;
    width: 3px;
    background-color: var(--off-white);
    margin-bottom: 5px;
}