.about {
    display: block;
    margin-bottom: 50px;
}

.about tbody {
    width: 100%;
    display: table;
}

.about img {
    height: 300px;
    float: right;
}

.threedmodel {
    height: 1000px;
    width: 1000px;
    --progress-bar-color: transparent;
    animation: blooping 3s ease infinite;
}

@keyframes blooping {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(0px, 30px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.about-logos {
    display: grid;
    width: 70px;
}

.about-logos a {
    width: 30px;
    margin: auto;
}

.about-logos a svg {
    height: 30px;
    width: 30px;
    fill: white;
    margin: auto;
    margin-bottom: 5px;
    cursor: pointer;
}

.test {
    margin: auto;
    height: 60px;
    width: 3px;
    background-color: white;
    margin-bottom: 5px;
}