$accent-color: darkgreen;

.about {
    display: block;
    margin-bottom: 50px;
    border-bottom: 1px solid $accent-color;
}

.about tbody {
    width: 100%;
    display: table;
}

.about img {
    height: 600px;
    float: right;
}

.about b {
    color: $accent-color;
}

.threedmodel {
    position: relative;
    top: 490px;
    left: 400px;
}