<header>
    <nav class="navbar navbar-dark fixed-top">
        <a class="navbar-brand position-absolute" href="#">
            &#60;C&#47;&#62;
        </a>
        <div class="navbar-nav justify-content-center flex-row mx-auto">
            <a id="about" class="nav-item nav-link active" (click)="ScrollIntoView('about')">About</a>
            <a id="portfolio" class="nav-item nav-link" (click)="ScrollIntoView('portfolio')">Portfolio</a>
            <a id="contact" class="nav-item nav-link" (click)="ScrollIntoView('contact')">Contact</a>
        </div>
    </nav>
</header>