.navbar-logo {
    height: 100%;
    width: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.navbar-nav {
    margin: auto;
    flex-direction: row;
}

.navbar-toggler {
    border: 0px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-item {
    margin-left: 10px;
}

.navbar {  
    background-color: #00000050 !important;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0px;
    width: 100%;
    box-shadow: 0 0 1em rgba(0, 0, 255, 0.027);
    height: 70px;
}