.navbar-logo {
    height: 100%;
    width: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.navbar-toggler {
    border: 0px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-item {
    margin-left: 10px;
}

.navbar {
    background-color: transparent;
    border-bottom: 0.0005em solid lightgray;
    z-index: 1;
}