.card-group-skill {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card-skill {
    background-color: transparent;
    backdrop-filter: blur(10px);
    margin: 10px;
    border-radius: 20px;
    width: 150px;
    height: 150px;
    display: inline-flex;
    box-shadow: 10px 10px 56px 0px rgba(0,0,0,0.75);
}

.card-skill :hover {
    border-radius: 20px;
    background-color: white;
    box-shadow: none;
    opacity: 0.1;
    cursor: pointer;
}

.card-skill svg {
    position: relative;
    height: 90px;
    width: 90px;
    margin: auto;
    display: block;
}

.card-skill svg image {
    width: 90px;
    height: 90px;
}

.card-body-skill {
    margin: auto;
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    font-weight: bold;
}