.card-group-skill {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card-skill {
    background-color: transparent;
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin: 10px;
    border-radius: 20px;
    width: 150px;
    height: 150px;
    display: inline-flex;
}

.card-skill :hover {
    background-color: white;
    border-radius: 20px;
    opacity: 0.1;
}

.card-skill svg {
    position: relative;
    height: 90px;
    width: 90px;
    margin: auto;
    display: block;
}

.card-skill svg image {
    width: 90px;
    height: 90px;
}

.card-body-skill {
    margin: auto;
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    // top: 140px;
    font-weight: bold;
}