.card-group-skill {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card-content {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 20px;
    background: #222;
    display: inline-flex;
}

.card-skill {
    margin: 10px;
    border-radius: 20px;
    width: 150px;
    height: 150px;
    display: inline-flex;
}

// .card-skill :hover {
//     border-radius: 20px;
//     box-shadow: none;
//     opacity: 0.1;
//     cursor: pointer;
// }

.card-skill svg {
    position: relative;
    height: 90px;
    width: 90px;
    margin: auto;
    display: block;
}

.card-skill svg image {
    width: 90px;
    height: 90px;
}

.card-body-skill {
    margin: auto;
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.card-skill:hover {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab) border-box;
    opacity: 0.9;
    border: 2px solid white;
}

.gradient-border-mask {
    display: flow-root;
    position: relative;
    padding: 1.3rem;
    background: transparent;
  }
  
  .gradient-border-mask::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    border: 2px solid transparent;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }
  
  .gradient-border-mask:hover:before {
    // background: none;
  }