.container-fluid > * {
    display: block;
    margin-bottom: 50px;
}

.main-container {
    padding-right: none;
    padding-left: none;
}

.about {
    background: var(--linear-gradient-main);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

.portfolio {
	background: var(--linear-gradient-main);
}